@import "tailwindcss";

::-webkit-scrollbar {
  display: none; /* Hide All Scrollbars */
}

html {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 17px;
}

@theme {
  --color-green: #008000;
  --color-smoke: #A9A9A9;
  --color-stone: #565656;
}